body {
  background: black;
  margin: 0;
  font-family: "montserrat", "Avenir";
}

#container {
  margin: 20px auto;
  max-width: 600px;
}

.square {
  width: 30%;
  padding-bottom: 30%;
  background: rgb(255, 187, 0);
  margin: 1.66%;
  float: left;
  border-radius: 15%;
  transition: background 0.69s;
  -webkit-transition: background 0.69s;
  -moz-transition: background 0.69s;
}
#colorDisplay {
  font-size: 200%;
}

h1 {
  text-align: center;
  line-height: 1.1;
  font-weight: normal;
  color: azure;
  background: steelblue;
  margin: 0;
  text-transform: uppercase;
  padding: 20px 0;
}

#displayBar {
  background: azure;
  height: 30px;
  text-align: center;
  color: black;
}

#message {
  display: inline-block;
  width: 20%;
}

.selected {
  color: azure;
  background: steelblue;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  outline: none;
}
button:hover {
  color: azure;
  background: steelblue;
}
